
.Description {
  background-color: rgba(243, 243, 243, 0.94);
}

.Description h3 {
  padding: 5px 15px;
  color: #707070;
  font-size: 15px;
}

.description-btn {
  border-radius: 50px;
  border: solid 1px #707070 !important;
  background-color: #ffffff;
}

.rectangle-17 {
  width: 95%;
  height: 20vh;
  margin: 0 15px;
  border: solid 1px #707070;
  background-color: #ffffff;
  border-radius: 3px;
}

.btn-descr{
  padding: 3px !important;
  margin: 3px !important;
  font-size: 12px;
}