.title form{
  background-color: #e1e1e1;
  color:#fff;
  padding:20px 0px;
}

.title form input[type="text"]{
  width:100%;
  margin-bottom:10px;
}

.defect-description {
  height: 15vh;
}

.title form textarea{
  width:100%;
  height:100px;
}

.title form button{
  padding: 10px;
  margin: 10px;
  border:0;
  background: #fff;
  color:#888;
  text-transform: uppercase;
  font-size: 12px;
}

.title form button:hover {
  background-color: #30487e !important;
  color: #fff;
}

.title form button i{
  margin-right: 5px;
  font-size: 15px;
}

.title form label{
  text-transform: uppercase;
}

.bug-icon {
  margin: 5px 0px 0 20px;
  color:#888;
  font-size: 20px;
}

.close-icon {
  margin: 5px 0px 0 20px;
  color:#888;
  font-size: 20px;
}
