.Requests {
  background-color: rgba(243, 243, 243, 0.94);
}

.requests-header {
  border: solid 1px #707070;
  background-color: #ffffff;
  font-size: 10px;
  margin: 10px;
}

.request {
  /* border: solid 1px #707070;
  background-color: #ffffff; */
  font-size: 10px;
}